<form [formGroup]="sceneForm" (ngSubmit)="addScene()">
    <label for="title">Scene Title:</label><br>
    <input type="text" id="title" name="title" formControlName="title"><br>
    <label for="description">Type:</label><br>
    <input type="textfield" id="description" name="description" formControlName="description"><br>
    <label for="order">Order:</label><br>
    <input type="number" id="sceneOrder" name="order" formControlName="order"><br>
    <button type="submit">Add Scene</button>
    
</form>
<button (click)="returnToChapters()">Return to Chapter View</button>