
<form>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="type">Type:</label><br>
    <input type="text" id="type" name="type"><br>
    <label for="alignment">Alignment:</label><br>
    <input type="text" id="alignment" name="alignment"><br>
    <label for="hitPoints">Hit Points:</label><br>
    <input type="number" id="hitPoints" name="hitPoints"><br>
    <label for="armorClass">Armor Class:</label><br>
    <input type="number" id="armorClass" name="armorClass"><br>
    <label for="speed">Speed:</label><br>
    <input type="number" id="speed" name="speed"><br>
    <label for="strength">Strength:</label><br>
    <input type="number" id="strength" name="strength"><br>
    <label for="dexterity">Dexterity:</label><br>
    <input type="number" id="dexterity" name="dexterity"><br>
    <label for="constitution">Constitution:</label><br>
    <input type="number" id="constitution" name="constitution"><br>
    <label for="intelligence">Intelligence:</label><br>
    <input type="number" id="intelligence" name="intelligence"><br>
    <label for="wisdom">Wisdom:</label><br>
    <input type="number" id="wisdom" name="wisdom"><br>
    <label for="charisma">Charisma:</label><br>
    <input type="number" id="charisma" name="charisma"><br>
</form>