
<form [formGroup]="monsterDetailsForm"  (ngSubmit)="onSubmit()">
    <label>
        Name:
        <input type="text" formControlName="name">
      </label><br>
      <label>
        Type:
        <input type="text" formControlName="type">
      </label><br>   
    <label>
        Alignment:
        <input type="text" formControlName="alignment">
      </label><br>
        <label>
            Hit Points:
            <input type="number" formControlName="hitPoints">
        </label><br>
        <label>
            Armor Class:
        <input type="number" formControlName="armorClass">
        </label><br>
        <label>
            Strength:
        <input type="number" formControlName="strength">
        </label><br>
        <label>
            Dexterity:
        <input type="number" formControlName="dexterity">
        </label><br>
        <label>
            Constitution:
        <input type="number" formControlName="constitution">
        </label><br>
        <label>
            Intelligence:
        <input type="number" formControlName="intelligence">
        </label><br>
        <label>
            Wisdom:
        <input type="number" formControlName="wisdom">
        </label><br>
        <label>
            Charisma:
        <input type="number" formControlName="charisma">
        </label><br>
    <button type="submit">Save</button>
</form>