$dark-brown: #504A40; // Deeper, richer grey, evoking the shadowed stone of ancient castles
$tan: #BF9B30; // Darker gold, suggesting the glow of treasure in dimly lit halls
$dark-green: #397D33; // Rich forest green, for the depth of royal gardens under moonlight
$beige: #EDEAD0; // Warm beige, softer, creating a vintage parchment look for contrast
$off-white: #F0EDE4; // Muted pearl, adding a touch of aged elegance and mystery


.new-campaign-form {
  display: flex;
  flex-direction: column;
  max-width: 600px; // Set a max-width for the form
  width: 100%; // Ensure it's responsive
  margin: 20px auto; // Center the form with some margin
  padding: 20px;
  border: 2px solid $tan;
  border-radius: 8px;
  background-color: $dark-brown;
  color: $off-white;
}

.new-campaign-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.new-campaign-form label {
  color: $off-white;
  margin-bottom: 5px;
}

.new-campaign-form input[type="text"],
.new-campaign-form textarea {
  padding: 10px;
  background-color: $beige;
  border: 1px solid $tan;
  border-radius: 4px;
  color: $dark-brown;
}

.new-campaign-form button[type="submit"] {
  background-color: $dark-green; // Use dark green for the submit button
  color: $off-white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($dark-green, 10%);
  }
}

/* Adjust the focus styles for better accessibility */
.new-campaign-form input[type="text"]:focus,
.new-campaign-form textarea:focus {
  outline: none;
  border-color: darken($tan, 10%);
}

/* Style adjustments for invalid input to improve UX */
.new-campaign-form input[type="text"]:invalid,
.new-campaign-form textarea:invalid {
  border-color: #ff6767; // Light red for errors
}
