$dark-brown: #504A40; // Deeper, richer grey, evoking the shadowed stone of ancient castles
$tan: #BF9B30; // Darker gold, suggesting the glow of treasure in dimly lit halls
$dark-green: #397D33; // Rich forest green, for the depth of royal gardens under moonlight
$beige: #EDEAD0; // Warm beige, softer, creating a vintage parchment look for contrast
$off-white: #F0EDE4; // Muted pearl, adding a touch of aged elegance and mystery

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  width: 100%; // Ensures that the form group takes full width

  label {
    margin-bottom: .5rem;
    color: $off-white;
  }

  .form-control {
    width: 100%; // Makes sure input and textarea fill out the form group
    padding: .5rem;
    border: 1px solid $tan;
    border-radius: .25rem;
    background-color: $beige;
    color: $dark-brown;
    box-sizing: border-box; // Ensures padding and border are included in the width

    &:focus {
      outline: none;
      border-color: darken($tan, 15%);
      box-shadow: 0 0 0 .2rem rgba($tan, 0.25);
    }
  }
}

// Button styling remains the same
.btn {
  padding: .5rem 1rem;
  background-color: $dark-green;
  color: $off-white;
  cursor: pointer;
  border-radius: .25rem;
  text-align: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($dark-green, 10%);
  }
}

.btn-primary {
  &:focus, &:active {
    box-shadow: 0 0 0 .2rem rgba($dark-green, 0.5);
  }
}
