<form class="new-character-form" (ngSubmit)="onSubmit()">
    <label>
        Campaign ID:
        <input type="text" formControlName="campaignId">
    </label><br>
    <label>
        Name:
        <input type="text" formControlName="name">
    </label><br>
    <label>
        Race:
        <input type="text" formControlName="race">
    </label><br>
    <label>
        Class:
        <input type="text" formControlName="class">
    </label><br>
    <label>
        Owned By:
        <input type="text" formControlName="ownedBy">
    </label><br>
    <label>
        Level:
        <input type="number" formControlName="level">
    </label><br>
    <label>
        Strength:
        <input type="number" formControlName="strength">
    </label><br>
    <label>
        Dexterity:
        <input type="number" formControlName="dexterity">
    </label><br>
    <label>
        Constitution:
        <input type="number" formControlName="constitution">
    </label><br>
    <label>
        Intelligence:
        <input type="number" formControlName="intelligence">
    </label><br>
    <label>
        Wisdom:
        <input type="number" formControlName="wisdom">
    </label><br>
    <label>
        Charisma:
        <input type="number" formControlName="charisma">
    </label><br>
    <label>
        Hit Points:
        <input type="number" formControlName="hitPoints">
    </label><br>
    <label>
        Alignment:
        <input type="number" formControlName="alignment">
    </label><br>
    <button type="submit">Save</button>
</form>