<form class="new-character-form"  (ngSubmit)="onSubmit()">
    <label>
        Name:
        <input type="text"  name="characterName" [(ngModel)]="character.name" required>
    </label><br>
    <label>
        Race:
        <input type="text" name="race" [(ngModel)]="character.race" required> 
    </label><br>
    <label>
        Class:
        <input type="text" name="class"  [(ngModel)]="character.class" >
    </label><br>
    <label>
        Alignment:
        <select name="alignment" [(ngModel)]="character.alignment">
            <option *ngFor="let alignment of alignments " [value]="alignment.value" >{{alignment.text}}</option>
        </select>
    </label><br>
    <label>
        Level:
        <input type="number" name="level" [(ngModel)]="character.level" required>
    </label><br>
    <label>
        Strength:
        <input type="number" name="strength" [(ngModel)]="character.strength" required>
    </label><br>
    <label>
        Dexterity:
        <input type="number" name="dexterity" [(ngModel)]="character.dexterity" required>
    </label><br>
    <label>
        Constitution:
        <input type="number" name="constitution" [(ngModel)]="character.constitution" required>
    </label><br>
    <label>
        Intelligence:
        <input type="number" name="intelligence" [(ngModel)]="character.intelligence" required>
    </label><br>
    <label>
        Wisdom:
        <input type="number" name="wisdom" [(ngModel)]="character.wisdom" required>
    </label><br>
    <label>
        Charisma:
        <input type="number" name="charisma" [(ngModel)]="character.charisma" required>
    </label><br>
    <label>
        Hit Points:
        <input type="number" name="hitPoints" [(ngModel)]="character.hitPoints" required>
    </label><br>

    <button type="submit">Save</button>
</form>