<h2>Campaigns List</h2>

<ul>
  <li *ngFor="let campaign of campaigns">
    
        <h3>{{ campaign.name }}</h3>
        <p>{{ campaign.description }}</p>
    
    <button (click)="sendCampaignToEditor(campaign, $event)">Edit </button>
    <ng-container *ngIf="campaign === selectedCampaign && showEditComponent">
    <app-edit-campaign (saveCampaign)="handleSaveEvent()" [campaign]="campaign"></app-edit-campaign>
    </ng-container>
    <button (click)="deleteCampaign(campaign, $event)">Delete</button>
    <button (click)="selectCampaign(campaign.campaignId)">Select</button>
  </li>
</ul>
